/*------------------------------------------------GENERALS------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    background-color: #F4F2E6;
}

#grid_container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px auto auto auto;
    grid-template-areas: "container_line_one"
                         "header"
                         "main"
                         "footer";
    background-color: #F4F2E6;
    font-family: 'Space Grotesk', sans-serif;
    min-height: 100vh;
}


a{
    text-decoration: none;
    color: #21201F;
}


h1{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 2em;
}

h2{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

h3{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}


h4{
    font-family:'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;   
}

.h5{
    font-family: 'Space Grotest', sans-serif;
    font-weight: 300;
}

.h6{
    font-family: 'Space Grotest', sans-serif;
    font-weight: 300;
}

p{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
}




/*------------------------CONTAINER LINE ONE------------------------*/

.container_line_one{
    grid-area:container_line_one;
    border-bottom:#21201F solid 1px;
    background-color: #CCFF00;
    text-align: center;
}

/*------------------------------HEADER------------------------------*/
header{
    grid-area: header;
    border-bottom:#21201F solid 1px;
}

.navbar{
    padding-right:1rem;
    padding-left:1rem;
}

.navbar-toggler{
    width: auto;
    border:#21201F solid 1px;
    border-radius: 4em;
    color: #21201F;
}


/*------------------------------FOOTER------------------------------*/
footer{
    grid-area: footer;
    color: #21201F;
    background-color: #FF98F9;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#behance_icon{
    margin-left: 2rem;
}


/*------------------------------------------------HOME------------------------------------------------*/
main{
    grid-area: main;
    border-bottom:#21201F solid 1px;
    padding: 4%;
    min-height: 500px;
}

.main_line_one{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 3rem auto;
}

.portrait{
    border-radius: 50%;
    width: 190px;
}

.main_line_one_text{
    width: 50%;
    text-align: center;
}

#instagram_feed{
    height: 200px;
    margin-top: 2%;
    padding: 2% 0;
    text-align: center;
    border: 1px solid #21201F;
}


/*------------------------------------------------ABOUT------------------------------------------------*/

.about_photo {
background-image: url(../imgs/about_photo_intro.jpg);
width: 100%;
min-height: 300px;
background-position: center;
background-size: contain;
margin-bottom: 2rem;
}

.subtitle{
    min-width: 25%;
}

.skills{
    display: flex;
    margin: 2rem 0;
    padding: 2rem 0;
    border-bottom: #21201F 1px solid;
    border-top: #21201F 1px solid;
}

.skills_cards{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    justify-items: start;
    text-align: center;
}

.tools{
    display: flex;
    margin: 2rem 0;
    padding-bottom: 2rem;
    border-bottom: #21201F 1px solid;
}


.tools_cards{
    display: grid;
    grid-template-columns:  repeat(8, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    justify-items: start;
    text-align: center;
}

/*idioms*/

.languages{
    display: flex;
    margin: 2rem 0 0 0;
}

.languages h4{
    margin-bottom: 0.5rem;
}

.languages_cards{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.progress_bar{
    width: 60%;
    height: 1rem;
    border: #21201F solid 1px;
    border-radius: 2em;
    margin-right: 2rem;
    text-align: left;
    }

.progress_bar_fill_spanish{
    width: 100%;
    height: 100%;
    border-radius: 2em;
    background-image: linear-gradient(to right, #FF98F9 0%, #CCFF00 100%);
}

.progress_bar_fill_english{
    width: 35%;
    height: 100%;
    border-radius: 2em;
    background-image: linear-gradient(to right, #FF98F9 0%, #CCFF00 100%);
}



/*------------------------------------------------WORK------------------------------------------------*/
.pag_title{
    text-align: center;
}

.work_intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.tags{
    padding-top: 2rem;
}

.tags button{
    border-radius: 2em;
    border: #21201F 1px solid;
    background-color: #F4F2E6;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0 1rem;
    min-width: 7rem;
}
/*button amination*/
button {
    width: 7em;
    height: 2em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    overflow: hidden;
    z-index: 1;
   }
   
   button:hover {
    background-image: linear-gradient(to right, #FF98F9 0%, #CCFF00 100%);
   }
   

.proyects{
    width: 100%;
    padding: 2rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: repeat(3, 1fr);
    justify-items: stretch;
    column-gap: 0;
    row-gap: 0;
}

.proyects img{
    width: 100%;
    height: 100%;
}

.proyect{
    border: #21201F solid 1px;
}

/*------------------------------------------------CONTACT------------------------------------------------*/


.contact_content{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.contact_intro{
    width: 40%;
}

form{
    width: 50%;
    padding: 2%;
}

fieldset{
    border: none;
}

input, textarea{
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
}

input[type="submit"] {
    height: 1.5rem;
    background-color: #21201F;
    color: #F4F2E6;
    border-radius: 2em;
    border: #21201F 1px solid;
    display: block;
  }

  textarea{
    min-width: 100%;
    min-height: 200px;
  }

  input, textarea, input[type="submit"]{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
   } 

   input:focus {
    background-color: #ffe6fe;
   }

   textarea:focus{
    background-color: #ffe6fe;
   }

  /*------------------------------------------------SHOP------------------------------------------------*/

  .shop_container{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "categories"
                         "products";
  }

  .shop_card{
    text-align: center;
  }

  .categories{
    width: 100%;
    height: auto;
    grid-area: categories;
    display: flex;
    justify-content:center;
    border-bottom: #21201F 1px solid;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .categories img{
    border-radius: 50%;
    margin: 0 2rem;
  }

  .products{
    width: 100%;
    display: grid;
    grid-area: products;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .product_card img{
    width: 100%;
    height: 100%;
    border: #21201F 1px solid;
  }

/*//////\\\\\\\//////\\\\\\\//////\\\\\\\//////\\\\\\\\///////\\\\\\\//////\\\\\\\//////\\\\\\\//////\\\\\\\*/
/*//////\\\\\\\//////\\\\\\\//////\\\\\\\//////_____  S  _____\\\\\\\//////\\\\\\\//////\\\\\\\//////\\\\\\\*/
/*//////\\\\\\\//////\\\\\\\//////\\\\\\\//////\\\\\\\\///////\\\\\\\//////\\\\\\\//////\\\\\\\//////\\\\\\\*/

/*------------------------------------------------GENERALS------------------------------------------------*/
@media only screen and ( max-width:600px){


h2{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

/*------------------------------HEADER------------------------------*/


/*------------------------------FOOTER------------------------------*/
footer{
    grid-area: footer;
    color: #21201F;
    background-color: #FF98F9;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer_column_one{
    width: 96%;
    padding-top: 0.5rem; 
    padding-bottom: 1rem; 
    justify-content: center;
    
}

.footer_column_two{
    width: 96%;
    border-top: #21201F solid 1px;
    padding-top: 1rem; 
    padding-bottom: 1rem;
}

.footer_column_three{
    width: 96%;
    border-top: #21201F solid 1px;  
    padding-top: 1rem;
}

/*------------------------------------------------HOME------------------------------------------------*/

.main_line_one{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 1rem auto 2rem auto;
}

.portrait{
    border-radius: 100%;
    width: 190px;
    margin-top: 2rem;
}

.main_line_one_text{
    width: 100%;
    text-align: center;
}

.instagram_feed{
    height: 200px;
    margin-top: 2%;
    padding: 2% 0;
    text-align: center;
    border: 1px solid #21201F;
}


 /*------------------------------------------------ABOUT------------------------------------------------*/
   
 .about_photo {
    background-size: cover;
    margin-bottom: 2rem;
    }

    .subtitle{
        min-width: 100%;
        margin-bottom: 2rem;
    }
    
    .skills{
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        padding: 2rem 0;
        border-bottom: #21201F 1px solid;
        border-top: #21201F 1px solid;
        width: 100%;
    }
    
    .skills_cards{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 2rem;
        width: 100%;
        justify-items: center;
        text-align: center;
    }
    
    .tools{
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        padding-bottom: 2rem;
        border-bottom: #21201F 1px solid;
        width: 100%;
    }
    
    
    .tools_cards{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 2rem;
        width: 100%;
        justify-items: center;
        text-align: center;
    }
    
    /*idioms*/
    
    .languages{
        display: flex;
        flex-direction: column;
        margin: 2rem 0 1rem 0;
        width: 100%;
    }
    

    .languages_cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    .languages_cards h4{
        text-align: center;

    }

    .progress_bar{
        height: 1rem;
        border: #21201F solid 1px;
        border-radius: 2em;
        }
    
    .progress_bar_fill_spanish{
        width: 100%;
        height: 100%;
        border-radius: 2em;
        background-image: linear-gradient(to right, #FF98F9 0%, #CCFF00 100%);
    }
    
    .progress_bar_fill_english{
        width: 40%;
        height: 100%;
        border-radius: 2em;
        background-image: linear-gradient(to right, #FF98F9 0%, #CCFF00 100%);
    }
    
    /*------------------------------------------------WORK------------------------------------------------*/

.work_intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.tags{
    padding-top: 1rem;
}

.tags button{
    border-radius: 2em;
    border: #21201F 1px solid;
    background-color: #F4F2E6;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0.5rem 0.2rem;
}

.proyects{
    width: 100%;
    padding: 1rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: repeat(8, 1fr);
    justify-items: stretch;
    column-gap: 0;
    row-gap: 0;
}

/*------------------------------------------------CONTACT------------------------------------------------*/

main{
    min-height: 0;
}

.contact_content{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0;
}

.contact_intro{
    width: 100%;
    text-align: center;
    padding: 0 0 1rem  0;
}

form{
    width: 100%;
    
}

  /*------------------------------------------------SHOP------------------------------------------------*/

  .shop_container{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "categories"
                         "products";
  }

  .categories{
    width: 100%;
    height: auto;
    grid-area: categories;
    display: flex;
    justify-content:center;
    border-bottom: #21201F 1px solid;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .categories img{
    border-radius: 50%;
    margin: 0 0;
    width: 60%;
  }

  .products{
    width: 100%;
    display: grid;
    grid-area: products;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 6fr);
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .product_card img{
    width: 100%;
    height: 100%;
    border: #21201F 1px solid;
  }
  

}


/*//////\\\\\\\//////\\\\\\\//////\\\\\\\//////\\\\\\\\///////\\\\\\\//////\\\\\\\//////\\\\\\\//////\\\\\\\*/
/*//////\\\\\\\//////\\\\\\\//////\\\\\\\//////_____  L  _____\\\\\\\//////\\\\\\\//////\\\\\\\//////\\\\\\\*/
/*//////\\\\\\\//////\\\\\\\//////\\\\\\\//////\\\\\\\\///////\\\\\\\//////\\\\\\\//////\\\\\\\//////\\\\\\\*/

@media only screen and ( max-width:600px){
    

}